@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FIFA 18</h1>
</div>
@using (Html.BeginForm("CheckRadio", "Home", FormMethod.Post))
{
<div>
    Seleccione una llave: <br />
    @Html.RadioButton("Llave", "fecha")Fecha del partido
    @Html.RadioButton("Llave", "nopartido")Número de partido
</div>
    <input type="submit" value="Continuar"/>
}