@using EDLaboratorio3.Models
@{
    ViewBag.Title = "CargaArchivoFecha";
}

<h2>@ViewBag.Title.</h2>
@model IEnumerable<Partido>
@{

}

<!DOCTYPE html>

<html>
<body>
    @using (Html.BeginForm("CargaArchivoFecha", "Archivo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" value="Import" />

    }

    @if (Model != null && Model.Count() > 0)
    {
        <input type="button" value="Continuar" onclick="location.href='@Url.Action("Index", "Partido" )'" />

    }
</body>
</html>
